@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,300;1,400&display=swap');


/* shared styles */
/* font-family: 'Inter', sans-serif; */
header,
main {
    font-family: 'Mulish', sans-serif;
}

#primary-color {
    color: #FF5400;
}

#button-primary-color {
    background-color: #FF5400;
}

button {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: none;
    color: #FFF;
    cursor: pointer;
}



/* Nav bar styles */
.heading-container {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-left: 135px;
}

.heading-container h3 {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.heading-container img {
    width: 48px;
    height: 56.008px;
}

.menu-container {
    margin-right: 135px;
}

.menu-container>ul {
    display: flex;
    align-items: center;
}

.menu-container li {
    list-style: none;
    color: #424247;
}

.menu-container a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    margin-right: 44px;
    color: #474747;
}

.menu-container .a-home {
    font-weight: 700;
}

.menu-container .a-contact {
    margin-right: 0px;
}
.menu-icon{
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Banner Styles */
.banner {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../images/Group13.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 82.25%;
    height: 500px;
    margin: 60px auto 0px;
}

.banner-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    padding-top: 106px;
    margin-bottom: 0px;
    text-align: center;
}

.banner-description {
    width: 676px;
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    margin: 24px auto 0px;
    text-align: center;
}

.banner-selection {
    margin: 48px 208px 0px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    padding: 16px;
    gap: 24px;
}

.banner-selection #input-tag {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    padding: 16px 84px 16px 16px;
}


#select-when,
#select-type {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: none;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    padding: 16px 0px 16px 15px;
}

.find-now-button {
    padding: 16px 34px 16px 50px;
    font-size: 16px;
    font-weight: 700;
}

/* Popular tours section starts */
.popular-tours {
    max-width: 82.25%;
    max-height: 550px;
    margin: 100px auto 0px;
    display: flex;
    justify-content: space-between;
}
.popular-tours-contents {
    width: 100%;
    display: block;
}

.popular-tours-contents h3 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin: 0px;
}

.popular-tours-contents p,
li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

.popular-tours-contents p {
    width: 550px;
    margin: 24px 0px;
}

.popular-tours-contents li {
    max-width: 525px;
    margin-bottom: 16px;
}

.read-more-button {
    font-size: 20px;
    font-weight: 700;
    margin-top: 32px;
}

.popular-tours-img {
    width: 100%;
}

.popular-tours-img img {
    width: 100%;
    height: 100%;
}