@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,300;1,400&display=swap');


/* shared styles */
header,
main {
    font-family: 'Mulish', sans-serif;
}

footer .copyright {
    font-family: 'Inter', sans-serif;
}

#primary-color {
    color: #FF5400;
}

#button-primary-color {
    background-color: #FF5400;
}

button {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: none;
    color: #FFF;
    cursor: pointer;
}



/* Nav bar styles */
.heading-container {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-left: 135px;
}

.heading-container h3 {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.heading-container img {
    width: 48px;
    height: 56.008px;
}

.menu-container {
    margin-right: 135px;
}

.menu-container>ul {
    display: flex;
    align-items: center;
}

.menu-container li {
    list-style: none;
    color: #424247;
}

.menu-container a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    margin-right: 44px;
    color: #474747;
}

.menu-container .a-home {
    font-weight: 700;
}

.menu-container .a-contact {
    margin-right: 0px;
}

.menu-icon {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Banner Styles */
.banner {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../images/Group13.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 82.25%;
    height: 500px;
    margin: 60px auto 0px;
}

.banner-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    padding-top: 106px;
    margin-bottom: 0px;
    text-align: center;
}

.banner-description {
    max-width: 676px;
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    margin: 24px auto 0px;
    text-align: center;
}

.banner-selection {
    margin: 48px 208px 0px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    padding: 16px;
    gap: 24px;
    max-width: 770px;
}

.banner-selection #input-tag {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    padding: 16px 84px 16px 16px;
}


#select-when,
#select-type {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: none;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    padding: 16px 0px 16px 15px;
}

.find-now-button {
    padding: 16px 34px 16px 50px;
    font-size: 16px;
    font-weight: 700;
}

/* Popular tours section starts */
.popular-tours {
    max-width: 82.25%;
    max-height: 550px;
    margin: 100px auto 0px;
    display: flex;
    justify-content: space-between;
}

.popular-tours-contents {
    width: 100%;
    display: block;
}

.popular-tours-contents h3 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin: 0px;
}

.popular-tours-contents p,
li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

.popular-tours-contents p {
    max-width: 550px;
    margin: 24px 0px;
}

.popular-tours-contents li {
    max-width: 525px;
    margin-bottom: 16px;
}

.read-more-button {
    font-size: 20px;
    font-weight: 700;
    margin-top: 32px;
}

.popular-tours-img {
    width: 100%;
}

.popular-tours-img img {
    width: 100%;
    height: 100%;
}

/* Newsletter section starts */
.newsletter {
    max-width: 82.25%;
    max-height: 422px;
    margin: 100px auto 0px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.newsletter-content {
    max-width: 76%;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.newsletter-content div {
    margin-left: 48px;
}

.newsletter-content h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin: 40px auto 0px 0px;
}

.newsletter-content hr {
    width: 393px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin: 24px 0px 0px 0px;
}

.newsletter-content p {
    max-width: 90%;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    margin: 16px auto 0px 0px;
}

.newsletter-content form {
    margin: 48px 41px 0px 0px;
}

.newsletter-content form input {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
    max-width: 73%;
    padding: 16px 170px 16px 20px;
    margin-bottom: 16px;
    border: none;
}

.newsletter-content .sub-button {
    margin: 24px 41px 0px 0px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    width: 86%;
    height: 52px;
    border-radius: 8px;
    border: none;
    color: #FFF;
    cursor: pointer;
    padding: 14px 148px;
}

.newsletter-img {
    width: 100%;
    height: 422px;
    position: relative;
}

.newsletter-img img {
    width: 100%;
    height: 100%;
}

.discount-70 h4 {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 20px;
}

.discount-70 h3 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    margin-top: 4px;
}

.discount-70 {
    border-radius: 16px;
    position: absolute;
    top: 59%;
    left: 53%;
    width: 324px;
    height: 120px;
    transform: rotate(-19.62deg);
    flex-shrink: 0;
}

/* destination section starts */

/* .destination img{
    margin-right: 24px;
    margin-bottom: 24px; */
/* } */
.destination {
    max-width: 82.25%;
    margin: 100px auto 0px;
}

.destination-content h3 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0px;
}

.destination-content p {
    max-width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 24px auto 48px;
}

.destination div {
    width: 100%;
}

.destination div {
    position: relative;
}

.first-img img,
.third-img img {
    width: 100%;
    height: 300px;
}

.second-img img {
    width: 100%;
    height: 286px;
}

.first-img {
    display: flex;
    gap: 26px;
    margin-bottom: 24px;
}

.second-img {
    display: grid;
    grid-template-columns: 396.5px 502.5px 290.5px;
    column-gap: 24px;
    margin-bottom: 24px;
}

.third-img {
    display: grid;
    grid-template-columns: 502.5px 714.5px;
    gap: 24px;
}

.first-img  p, .second-img  p, .third-img  p {
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 44%;
    left: 40.33%;
}
.second-img  p{
    left: 33%;
}
.third-img  p{
    left: 35%;
}

/* Footer starts */
footer {
    max-width: 100%;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
    margin: 100px 0px 0px;
}

.footer-heading {
    padding-top: 110px;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.footer-heading h3 {
    color: #131318;
    font-size: 32px;
    font-weight: 800;
}

.footer-heading img {
    width: 40px;
    height: 46px;
}

.footer-description {
    max-width: 775px;
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 15px auto 0px;
}

.social-links {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.social-links img {
    height: 24px;
}

hr {
    background: #1313181a;
    max-width: 880px;
    height: 1px;
    border: none;
    margin-top: 50px;
}

.copy-right {
    text-align: center;
    color: #131318;
    font-size: 16px;
    font-weight: 300;
    margin: 50px auto 0px;
}